<template name="appLayout">
<head>
</head>
<body> 
    {{> tapbar}}
    <div class="form-row" style="font-family: 'Khmer OS Siemreap';">
        <div class="form-group col-md-2">
            {{> menubar}}
        </div>
        <div class="form-group col-md-10 p-4">
            {{> yield}}
        </div>
    </div>
</body>
</template>