<template name="documentout">
    <form>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >លេខកូដ</label>
                <input type="text" class="form-control" id="idocoutcode" name="tdocoutcode">
            </div>
            <div class="col-md-6 mb-3">
                <label >កាលបរិច្ឆេទឯកសារ</label>
                <input type="date" class="form-control" id="idocoutdate" name="tdocoutdate">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label >ខ្លឹមសារឯកសារ</label>
                <input type="text" class="form-control" id="idescription" name="tdescription">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label >បញ្ជូនទៅ</label>
                <input type="text" class="form-control" id="ireceive" name="treceive">
            </div>
            <div class="col-md-3 mb-3">
                <label >កាលបរិច្ឆេទទទួល</label>
                <input type="date" class="form-control" id="ireceivedate" name="treceivedate">
            </div>
            <div class="col-md-6 mb-3">
                <label >អ្នកទទទួល</label>
                <input type="text" class="form-control" id="ireceiver" name="treceiver">
            </div>
        </div>
        <div class="text-center">
            <button type="button" id="sendingdoc" class="btn btn-outline-primary"><i class='fa fa-edit'></i> បញ្ចូលឯកសារ</button>
        </div>
    </form>
    <br>
    <div class="table-responsive" >
        <div style="display:none;" id="permis1" value="{{currentUser.profile.permis}}"></div>
        <div class="widget-box" style="overflow-x:auto;">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Data table</h5>
            </div>
            <div class="widget-content nopadding">
                {{> tabular table=TabularTables.Docout class="table table-bordered data-table"}}
            </div>
        </div>
    </div>
</template>