<template name="index">
    <!-- !PAGE CONTENT! -->
    <div>
        <!-- Header --><!-- របាយការណ័ប្រចាំថ្ងៃ  -->
        <header class="w3-container" style="padding-top:25px">
        <h5> របាយការណ៍ប្រចាំថ្ងៃ <label>{{daily}}</label> 
            <!-- <input type="date" id="tsearchdate" name="txtsearchdate" style="width:20%; margin-left: 1%;"> -->
        </h5>
        </header>
        <div class="row" style="font-family: 'Khmer Mool1';font-size: 20px;">
            <div class="col-sm-3">
                <div class="card bg-primary text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ចំនួនឯកសារចូលប្រចាំថ្ងៃ</div>
                    <div class="card-body">{{dailydata}}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-info text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ចំនួនឯកសារនៅនាយកដ្ឋាន</div>
                    <div class="card-body">{{dailydepartment}}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-success text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ចំនួនឯកសារជូនអគ្គនាយករង</div>
                    <div class="card-body">{{dailyBoss}}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-warning text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ចំនួនឯកសារបញ្ជូនចេញ</div>
                    <div class="card-body">{{dailyDone}}</div>
                </div>
            </div>
        </div>
        <br>        
        <!-- របាយការណ័ឯកសារបន្តចរន្ត  -->
        <header class="w3-container">
            <h5> ចំនួនឯកសារនៅសល់</h5>
        </header>
        <div class="row" style="font-family: 'Khmer Mool1';font-size: 20px;">
            <div class="col-sm-3">
                <div class="card bg-danger text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ការិយាល័យរដ្ឋបាល</div>
                    <div class="card-body">{{DocstayAdmin}}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-dark text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ប្រធាននាយកដ្ឋានរដ្ឋបាល</div>
                    <div class="card-body">{{DocstayDepartment}}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-secondary text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> អគ្គនាយករងទទួលបន្ទុក</div>
                    <div class="card-body">{{DocstayBoss}}</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-primary text-white">
                    <div class="card-body"><i class="icon-dashboard"></i> ឯកសារបញ្ជូនចេញ</div>
                    <div class="card-body">{{Docdone}}</div>
                </div>
            </div>
        </div>
        <br>
        <!-- របាយការណ័ប្រចាំខែ  -->
        <header class="w3-container">
            <h5> ឯកសារបញ្ជូនចេញទៅស្ថាប័នផ្សេងៗ</h5>
        </header>
        <div class="table-responsive" >
            <div style="display:none;" id="permis1" value="{{currentUser.profile.permis}}"></div>
            <div class="widget-box" style="overflow-x:auto;">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>ចរន្តឯកសារ</h5>
                </div>
                <div class="widget-content nopadding">
                    {{> tabular table=TabularTables.Docout1 class="table table-bordered data-table"}}
                </div>
            </div>
        </div>
        <br>
       
        <!-- Footer -->
        <footer class="w3-container p-16 light-grey">
        <h4>ឆ្នាំ២០២០</h4>
        <p>រៀបចំដោយនាយកដ្ឋានរដ្ឋបាល សរុប</p>
        </footer>
    <!-- End page content -->
    </div>  
</template>