<template name="login">     
    {{#if currentUser}}
    {{else}}
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-10">
                <form>
                    <div class="form-group col-md-6">
                        <label>ឈ្មោះ</label>
                        <input type="text" class="form-control" id="user">
                        <!-- <small id="user" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>លេខសម្ងាត់</label>
                        <input type="password" class="form-control" id="pass">
                    </div>
                    <!-- <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <div class="text-center col-md-6">
                        <button type="button" class="btn btn-primary" id="logindata">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
</template>