<template name="menubar">
    {{#if currentUser}}<br>
    <div style="display:none;" id="permis" value="{{currentUser.profile.office}}"></div>
    <div class="text-center" style="color: #293890; font-family: 'Khmer Mool1'; font-size: 22px;">
        នាយកដ្ឋានរដ្ឋបាល សរុប
    </div>
    <br>
    <div class="text-center">
        ឈ្មោះ {{username}}
    </div>
    {{else}}
    {{/if}}
    <br>
    <div class="sidebar">
        {{#if currentUser}}
        <a href="/index"><i class='fa fa-home'></i> ទំព័រដើម</a>
        <button class="dropdown-btn">
            <i class="fas fa-file-alt"></i> រដ្ឋបាល<i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">ឯកសារចូល</a>
            <a href="/runningdoc">ចរន្តឯកសារ</a>
            <a href="/searchdoc">ស្វែងរកឯកសារ</a>
            <a href="/documentout">ឯកសារចេញ</a>
            <a href="#">បេសកកម្ម</a>
        </div>
        <!-- <button class="dropdown-btn">សរុប ផែនការ 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">រដ្ឋបាល</a>
            <a href="#">ចរន្តឯកសារ</a>
            <a href="#">បេសកកម្ម</a>
            <a href="#">ឯកសារចេញ</a>
        </div> -->
        <!-- <button class="dropdown-btn">រដ្ឋបាល 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">ឯកសារចូល</a>
            <a href="#">ចរន្តឯកសារ</a>
            <a href="#">បេសកកម្ម</a>
            <a href="#">ឯកសារចេញ</a>
        </div>
        <button class="dropdown-btn">រដ្ឋបាល 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">ឯកសារចូល</a>
            <a href="#">ចរន្តឯកសារ</a>
            <a href="#">បេសកកម្ម</a>
            <a href="#">ឯកសារចេញ</a>
        </div>
        <button class="dropdown-btn">រដ្ឋបាល 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">ឯកសារចូល</a>
            <a href="#">ចរន្តឯកសារ</a>
            <a href="#">បេសកកម្ម</a>
            <a href="#">ឯកសារចេញ</a>
        </div>
        <button class="dropdown-btn">រដ្ឋបាល 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">ឯកសារចូល</a>
            <a href="#">ចរន្តឯកសារ</a>
            <a href="#">បេសកកម្ម</a>
            <a href="#">ឯកសារចេញ</a>
        </div>
        <button class="dropdown-btn">រដ្ឋបាល 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/createdoc">ឯកសារចូល</a>
            <a href="#">ចរន្តឯកសារ</a>
            <a href="#">បេសកកម្ម</a>
            <a href="#">ឯកសារចេញ</a>
        </div> -->
        {{else}}
        <a href="#"> ទំនាក់ទំនង</a>
        <a href="#"> អំពីយើង</a>
        {{/if}}
        {{#if currentUser}}
        <a class="logout" href="/"><i class='fa fa-close'></i> ចាកចេញ</a>
        {{else}}
        {{/if}}
    </div>
    {{#if currentUser}}
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }
    </script>
    
    <script>
        function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
        }
    </script>
    {{else}}
    {{/if}}
</template>