<template name="runningdoc">
    <form>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >ផ្ញើជូន</label>
                <select id="iruning" name="truning" class="form-control">
                    <option value="អ្នករៀបចំកំណត់បង្ហាញ">អ្នករៀបចំកំណត់បង្ហាញ</option>
                    <option value="ការិយាល័យចំណុះនាយកដ្ឋានរដ្ឋបាល">ការិយាល័យចំណុះ</option>
                    <option value="នាយកដ្ឋានរដ្ឋបាល">នាយកដ្ឋានរដ្ឋបាល</option>
                    <option value="អគ្គនាយករងទទួលជំនាញ">អគ្គនាយករងទទួលជំនាញ</option>
                    <option value="អគ្គនាយករងទទួលផែន">អគ្គនាយករងទទួលផែន</option>
                    <option value="អគ្គនាយក">អគ្គនាយក</option>
                    <option value="នាយកដ្ឋានជំនាញ">នាយកដ្ឋានជំនាញ</option>
                    <option value="បញ្ជូនចេញរួចរាល់">បញ្ជូនចេញរួចរាល់</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label >កាលបរិច្ឆេទបញ្ជូន</label>
                <input type="date" class="form-control" id="idatesend" name="tdatesend">
            </div>
            
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >អ្នកទទួលឯកសារ</label>
                <input type="text" class="form-control" id="ireceive" name="treceive">
            </div>
            <div class="col-md-6 mb-3">
                <label >ចំណារថ្នាក់ដឹកនាំ</label>
                <input type="text" class="form-control" id="inote" name="tnote">
            </div>
        </div>
        <!-- <div class="text-center">
            <button type="button" id="inputrunning" class="btn btn-outline-primary">បញ្ជូនឯកសារ</button>
        </div> -->
    </form>
    <br>
    <div class="table-responsive" >
        <div class="widget-box" style="overflow-x:auto;">
            <div class="widget-title" style="overflow-x:auto;"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Data table</h5>
            </div>
            <div class="nopadding">
                <!-- {{> tabular table=Ksp selector=selector class="table table-striped table-bordered table-condensed"}} -->
                {{> tabular table=TabularTables.Ksp selector=selector class="table table-striped table-bordered table-condensed"}}
            </div>
        </div>
    </div>
</template>