<template name="searchdoc">
    <div class="table-responsive">
        <div class="widget-box" style="overflow-x:auto;">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Data table</h5>
            </div>
            <div class="nopadding">
                {{> tabular table=TabularTables.Historys class="table table-bordered data-table"}}
            </div>
        </div>
    </div>
</template>