<template name="signup">
    {{#if currentUser}}
    {{else}}
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >ឈ្មោះ</label>
                <input type="text" class="form-control" id="tFirstName">
            </div>
            <div class="form-group col-md-6">
                <label >នាមត្រកូល</label>
                <input type="text" class="form-control" id="tLastName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >អ៊ីម៉ែល</label>
                <input type="email" class="form-control" id="tEmail">
            </div>
            <div class="form-group col-md-6">
                <label >លេខសម្ងាត់</label>
                <input type="password" class="form-control" id="tpassword">
            </div>
        </div>
        <div class="form-group">
            <label >អសយដ្ឋាន</label>
            <input type="text" class="form-control" id="tinputAddress" placeholder="ផ្ទះលេខ ផ្លូវលេខ">
        </div>
        <div class="form-group">
            <label >តំបន់</label>
            <input type="text" class="form-control" id="tinputAddress2" placeholder="សង្កាត់ ខណ្ឌ">
        </div>
        <div class="form-row">
            <!-- <div class="form-group col-md-6">
                <label >City</label>
                <input type="text" class="form-control" id="inputCity">
            </div> -->
            <div class="form-group col-md-4">
                <label >តួនាទីភារកិច្ច</label>
                <select id="idposition" name="tposition" class="form-control">
                    <option value="អ្នករៀបចំកំណត់បង្ហាញ">អ្នករៀបចំកំណត់បង្ហាញ</option>
                    <option value="ការិយាល័យចំណុះនាយកដ្ឋានរដ្ឋបាល">ការិយាល័យចំណុះ</option>
                    <option value="នាយកដ្ឋានរដ្ឋបាល">នាយកដ្ឋានរដ្ឋបាល</option>
                    <option value="អគ្គនាយករងទទួលជំនាញ">អគ្គនាយករងទទួលជំនាញ</option>
                    <option value="អគ្គនាយករងទទួលផែន">អគ្គនាយករងទទួលផែន</option>
                    <option value="អគ្គនាយក">អគ្គនាយក</option>
                    <option value="នាយកដ្ឋានជំនាញ">នាយកដ្ឋានជំនាញ</option>
                    <option value="បញ្ជូនចេញរួចរាល់">បញ្ជូនចេញរួចរាល់</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label >តួនាទីភារកិច្ច</label>
                <select id="idoffice" name="toffice" class="form-control">
                    <option value="ប្រធាននាយកដ្ឋាន">ប្រធាននាយកដ្ឋាន</option>
                    <option value="អនុនាយកដ្ឋាន">អនុនាយកដ្ឋាន</option>
                    <option value="រដ្ឋបាល-សរុប">រដ្ឋបាល-សរុប</option>
                    <option value="សរុប-ផែនការ">សរុប-ផែនការ</option>
                    <option value="បុគ្គលិកនិងបណ្តុះបណ្តាល">បុគ្គលិកនិងបណ្តុះបណ្តាល</option>
                    <option value="ភស្តុភារនិងគណនេយ្យ">ភស្តុភារនិងគណនេយ្យ</option>
                    <option value="ផ្សព្វផ្សាយអប់រំ">ផ្សព្វផ្សាយអប់រំ</option>
                    <option value="ស្រាវជ្រាវព័ត៌មាន">ស្រាវជ្រាវព័ត៌មាន</option>
                    <option value="ឯកសារ">ឯកសារ</option>
                    <option value="ជំនួយការ">ជំនួយការ</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label >តួនាទីភារកិច្ច</label>
                <select id="idpermis" name="tpermis" class="form-control">
                    <option value="User">User</option>
                    <option value="Manage">Manage</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <!-- <div class="form-group col-md-2">
                <label for="inputZip"></label>
                <select id="tpermis" name="txtpermis" class="w3-section" style="width:40%; padding: 5px 0px;" required> 
                    <option value="User">User</option>
                    <option value="Manage">Manage</option>
                    <option value="Admin">Admin</option>
                </select>
            </div> -->
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-outline-primary" id="signupdata">បញ្ចូលទិន្នន័យ</button>
        </div>
    </form>
    <br>
    <!-- <div class="table-responsive">
        {{> tabular table=Historys class="table table-all table-default table-striped table-bordered table-condensed"}}
    </div> -->
    {{/if}}
</template>