<template name="tapbar">
    <!-- <div class="jumbotron text-center" style="margin-bottom: 0px;">
        <h1>អគ្គនាយកដ្ឋានអត្តសញ្ញាណកម្ម</h1>
    </div> -->
    <!--bg-primary, bg-succes, bg-warning, bg-info and bg-danger fixed-top -->
    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #293890; font-family: 'Khmer Mool1'; font-size: 24px;">
        <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>  -->
        <div class="collapse navbar-collapse" id="collapse_target">
            <a class="navbar-brand"><img src="/img/Logo.png" width="40"></a>
            <span class="navbar-text text-white">អគ្គនាយកដ្ឋានអត្តសញ្ញាណកម្ម</span>
            <ul class="navbar-nav">
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dorpdown-toggle text-white" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        រដ្ឋបាល សរុប
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <a class="dropdown-item">ឯកសារចូល</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">ចរន្តឯកសារ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">បេសកកម្ម</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">ឯកសារចេញ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dorpdown-toggle text-white" data-toggle="dropdown" data-target="dropdown_target" href="#">
                        សរុប ផែនការ
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <a class="dropdown-item">ឯកសារចូល</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">ចរន្តឯកសារ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">បេសកកម្ម</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">ឯកសារចេញ</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link text-white" href="/">ចាកចេញ</a>
                </li> -->
            </ul>
        </div>
    </nav>

    <!-- <nav class="w3-sidebar w3-collapse w3-light-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br><br>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        </div>
        <div class="w3-container w3-row">
            <div class="w3-col s12" style="text-align: center;">
                <img src="/img/Logo.png" class="w3-circle w3-margin-right" style="width:80px">
            </div>
            <div class="w3-col s10 w3-bar">
                <span><strong><h5>អគ្គនាយកដ្ឋានអត្តសញ្ញាណកម្ម</h5></strong></span><br>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <div class="w3-container w3-col s12" style="text-align: center;">
            <div class="w3-text-blue"><h5>នាយកដ្ឋានរដ្ឋបាល​ សរុប</h5></div>
        </div>
    
        <div class="w3-container w3-col s12" style="text-align: center;">
            <h6 class="w3-text-blue"><lable>ឈ្មោះ </lable><lable name="user">{{username}}</lable></h6>
        </div>
        <div class="w3-bar-block">
            <div class="w3-dropdown-hover w3-border-bottom">
                <a href="/index"><button class="w3-button w3-blue" title="Notifications">  រដ្ឋបាល​ សរុប</button></a>     
                
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="/createdoc" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បង្កើតឯកសារ</a>
                    <a href="/rundoc" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ចរន្តឯកសារ</a>
                    <a href="/searchdoc" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បេសសកម្ម</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ឯកសារចេញ</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-blue w3-hide-small w3-border-bottom">
                <button class="w3-button" title="Notifications">  សរុប ផែនការ </button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">តាមដាន បូកសរុប</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ផែនការ​ កិច្ចការនីតិកម្ម</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-blue w3-hide-small w3-border-bottom">
                <button class="w3-button" title="Notifications">  បុគ្គលិក និងបណ្តុះបណ្តាល </button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បុគ្គលិក</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ក្របខ័ណ្ឌ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បៀវត្សរ៍</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">សោធននិវត្តន៍</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បណ្តុះបណ្តាល</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-blue w3-hide-small w3-border-bottom">
                <button class="w3-button" title="Notifications">  ភស្តុភារ និងគណនេយ្យ </button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ថវិកា</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បេឡា</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">គណនេយ្យ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ភស្តុភារ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">គ្រប់គ្រងទ្រព្យសម្បត្តិរដ្ឋ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-blue w3-hide-small w3-border-bottom">
                <button class="w3-button" title="Notifications">  ផ្សព្វផ្សាយអប់រំ </button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">គ្រប់គ្រងខ្លឹមសារ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ផ្សព្វផ្សាយអប់រំ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-blue w3-hide-small w3-border-bottom">
                <button class="w3-button" title="Notifications">  ស្រាវជ្រាវព័ត៌មាន </button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ប្រមូល និងវិភាគព័ត៌មាន</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្រាវជ្រាវ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-blue w3-hide-small w3-border-bottom">
                <button class="w3-button" title="Notifications">  ឯកសារ</button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បច្ចេកទេស</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">បណ្ណាល័យ</a>
                  <a href="#" class="w3-bar-item w3-button w3-hover-text-blue w3-margin-left">ស្វែងរកឯកសារ</a>
                </div>
            </div>       
            <div class="w3-dropdown-hover w3-blue w3-border-bottom">
                <button class="w3-button" title="Notifications">  អំពីនាយកដ្ឋាន</button>     
            </div>    
            <div class="w3-dropdown-hover w3-blue w3-border-bottom">
                <a href="/contact"><button class="w3-button w3-blue" title="Notifications">  ទំនាក់ទំនង</button></a> 
            </div>
        </div>    
    </nav>
    Overlay effect when opening sidebar on small screens
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
    </div> -->
</template>
